.fundo-tecnicos {
    padding: 30px 0 0 0;
}
.bloco-inicial {
    background-color: #eaeff0;
    height: 100vh;
    display: flex;
}

.b-inicial{
    background-color: #eaeff0;
    height: Calc(100vh);
    padding-top: 10vh;
    padding-bottom: 30px;
}
.b-inicial .row{
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.b-inicial h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1;
}

.b-inicial h3 {
    color: #333;
    font-size: 28px;
    margin-top: 20px;
}

.texto-inicial {
    width: 500px;
    margin-left: 20vw;
    padding-top: 200px;
}
.texto-inicial h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0;
}
.texto-inicial h3 {
    color: #333;
    font-size: 28px;
    margin-top: 0;
}
#iniciar {
    background-color: #f5ca2e;
    color: #333;
    border: none;
    padding: 15px 60px;
    font-size: 22px;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
}
.img-01 {
    height: 80vh;
    margin-top: 60px;
}
.bloco-1 {
    background-color: #292929;
    color: white;
    position: relative;
    z-index: 9;
    padding-bottom: 50px;
    padding-top: 50px;
}
.bloco-1 .caixa-destaque p {
    color: black;
}
.bloco-2 {
    background-color: #eaeff0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.caixa-destaque, .caixa-destaque-livre {
    background-color: #f5ca2e;
    font-weight: 600;
    box-shadow: 2px 2px 3px #333;
}
.divisao-0 {
    background-image: url('../assets/01/divisor1.png');
    width: 100%;
    height: 47px;
    background-position: center;
    margin-top: -90px;
}
.divisao-1 {
    background-image: url('../assets/01/parallax1.png');
    height: 246px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    background-attachment: fixed;
    background-color: #eaeff0;
}
.divisao-2 {
    background-image: url('../assets/01/parallax2.png');
    height: 246px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    background-attachment: fixed;
    background-color: #292929;
}
.divisao-3 {
    background-image: url('../assets/01/divisor3.png');
    width: 100%;
    height: 47px;
    background-position: center;
    
}
.divisao-4 {
    background-image: url('../assets/01/parallax3.png');
    height: 246px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    background-attachment: fixed;
    background-color: #292929;
}

.obj-cards {
    display: flex;
    justify-content: space-between;
}
.card-1 {
    width: 501px;
    height: 368px;
    background-image: url('../assets/01/card1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px #333;
}
.card-2 {
    width: 501px;
    height: 368px;
    background-image: url('../assets/01/card2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px #333;
}
.descricao {
    padding: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
    border-radius: 30px;
}
.card-1 .descricao {
    background-color: rgba(0, 176, 179);
    color: #333;
}
.card-2 .descricao {
    background-color: #00b752;
    color: #333;
}
.card-1:hover,
.card-2:hover {
    cursor: pointer;
    transform: scale(1.01);
}
.figura-2 {
    height: 450px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    box-shadow: 2px 2px 3px #333;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 40px;
}
.figura-2 img {
    border-radius: 30px;
    width: 100%;
}
.figura-2 figcaption,
.figura-3 figcaption {
    background-color: #00dd72;
    font-size: 16px;
    border-radius: 50px;
    margin: 15px;
    padding: 5px;
    text-align: center;
    position: absolute;
    width: 80%;
    left: 47%;
    transform: translateX(-50%);
    bottom: -40px;
    box-shadow: 2px 2px 3px #333;
    font-weight: 600;
    color: white;
}
.figura-3 {
    margin-top: 80px;
    position: relative;
}
.figura-3 img {
    width: 100%;
    border-radius: 30px;
}
.btn-final {
    text-align: center;
}
.btn-final p {
    margin: 0;
}
.btn-final .toTop {
    border: none;
    background-color: transparent;
    border-radius: 100px;
    padding: 0;
    transform: scale(1.1);
}
.btn-final .toTop:hover {
    transform: scale(1.2);
}

#booklet > header{
    margin-top: 50px;
    padding-right: 10vw;
    padding-top: 20px;
    background-color: #eaeff0;
}

.check li{
    list-style: none;    
}
.check li i{
    color: #28afb2 ;
    font-size: 2rem;
}

@media (max-width: 1440px){
    .texto-inicial {
        margin-left: 5vw;
    }
    .img-01 {
        height: 60vh;
    }
    .figura-2 img {
        max-width: 450px;
        display: block;
        margin: 15px auto;
    }
}

@media (max-width: 920px) {
    .bloco-inicial {
        flex-direction: column-reverse;
        justify-content: start;
    }
    .img-01 {
        height: auto;
        width: 70%;
        margin: 15px auto;
    }
    .texto-inicial {
        padding-top: 15px;
        margin: 15px auto;
    }
    .btn-final {
        margin-top: 60px;
    }

    .b-inicial{
        height: auto;
    }
    .b-inicial .row{
        display: block;
    }
}

@media (max-width: 600px) {

    .b-inicial h2 {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 0;       
    }

    .divisao-0{
        margin-top: -30px;
    }

    #iniciar{
        display: block;
        margin: 30px auto;
    }

    .texto-inicial {
        margin-left: auto;
        width: 100%;
        padding-top: 30px;
        text-align: center;
    }
    .texto-inicial h2 {
        font-size: 40px;
    }
    .bloco-inicial {
        flex-direction: column-reverse;
        justify-content: start;
        padding: 15px;
    }
    .bloco-inicial .img-01 {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    .obj-cards {
        flex-direction: column;
    }
    .card-1, .card-2 {
        width: 249px;
        height: 197px;
        margin: 10px auto;
        background-size: cover;
    }
    .descricao {
        font-size: 14px;
        padding: 0 8px;
        text-align: center;
        
    }
    .descricao p {
        line-height: 1.2em;
    }
    .card-2 .descricao {
        height: auto;
    }
    .card-2 {
        /* margin-bottom: 200px; */
    }
    .btn-final {
        margin-top: 60px;
    }
    .divisao-0, .divisao-1, .divisao-2, .divisao-3, .divisao-4 {
     background-size: cover;
     background-repeat: no-repeat;
    }
}