html,body{
    scroll-behavior: smooth;
}

body {
    background-image: url('../assets/02/bg.jpg');
    background-attachment: fixed;
}

.fundo-tecnicos {
    background-color: rgba(255, 255, 255, .8);
}
h3 {
    color: #333;
}
h4 {
    color: #333;
    font-size: 20px;
}
.menu-lateral {
    position: fixed;
    top: 70px;
    left: 0;
    padding: 0;
    z-index: 99;
}

.menu-lateral>span {
    opacity: 0;
    transition: 1s;
    /*background: #007798;*/
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: -80px;
    top: -15px;
}

.menu-lateral>i {
    opacity: 0;
}

.menu-lateral ul {
    padding-left: 0;
}

.menu-lateral li {
    list-style: none;
    margin-bottom: 5px;
    position: relative;
}

.menu-lateral li span {
    position: absolute;
    right: -5px;
    top: 6px;
    width: 22px;
    height: 22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: none;
    border-left: none;
}

.menu-lateral a {
    background-color: #E0EBF7;
    text-decoration: none;
    padding: 5px 20px;
    width: 300px;
    display: block;
    border-right: none;
    color: #4D81B0;
}

.menu-lateral a:hover,
.menu-lateral a.active {
    border-color: #5f96d7;
    color: #fff;
    background-color: #4D81B0;
}

.menu-lateral a:hover span,
.menu-lateral a.active span {
    border-color: #5f96d7;
}

.menu-lateral .ativo {
    background: #fff;
}

.menu-lateral .ativo span {
    background: #4D81B0;
}

.menu-lateral .ativo a {
    color: #fff;
    background-color: #4D81B0;
}

.nav-tabs {
    margin-left: 0;
    display: flex;
}
.nav-tabs > li {
    text-align: center;
    min-height: 70px;
}
.nav-tabs > li > a {
    min-height: 70px;
}
.painel-abas {
    box-shadow: 2px 2px 3px #333;
}
.br {
    border-radius: 25px;
}
figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.gif {
    max-width: 100%;
    margin: 20px auto;
    display: block;
    border-radius: 25px;
}
.m-t {
    margin-top: 40px;
}
.obj-cards {
    display: flex;
    justify-content: center;
}
.obj-cards .card-1, .obj-cards .card-2 {
    width: 40%;
    margin: 10px;
    border: 2px solid #333;
    padding: 55px 15px;
    box-shadow: 2px 2px 3px #333;
    border-radius: 10px;
    background-color: #4D81B070;   
}
.obj-cards h4 {
    text-align: center;
    margin: 10px auto;
    color: #333;
    font-weight: 600;
    font-size: 20px;
}
.obj-cards p {
    font-size: 18px;
    text-align: center;
}
.painel-espelhos {
    display: flex;
}
.painel-espelhos button {
    width: 300px;
    height: 200px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 10px;
}
#btn-1 {
    background-image: url('../assets/02/bt01.png');
}
#btn-2 {
    background-image: url('../assets/02/bt02.png');
}
#btn-3 {
    background-image: url('../assets/02/bt03.png');
}
#btn-1:hover {
    background-image: url('../assets/02/bt01_hover.png');
}
#btn-2:hover {
    background-image: url('../assets/02/bt02_hover.png');
}
#btn-3:hover {
    background-image: url('../assets/02/bt03_hover.png');
}
.img-janela {
    display: block;
    border-radius: 15px;
    width: 450px;
    margin: 15px auto;
}
.caixa-destaque, .caixa-destaque-livre {
  background-color:#d5dfe6;
    margin: 25px auto;
    border-radius:  0 10px 0 10px ;
    margin-top: 30px;
    margin-bottom: 30px;
}

.caixa-destaque, .caixa-destaque-livre{
    position: relative;
}

.caixa-destaque::before,
.caixa-destaque-livre::before{
    content: "";
    width: 40px;
    height: 40px;
    box-shadow: -5px -5px 0 5px #FED06E;
    position: absolute;
    top:0;
    left: 0;
}
.caixa-destaque::after,
.caixa-destaque-livre::after{
    content: "";
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 0 5px #50D7E2;
    position: absolute;
    bottom:0;
    right: 0;
}





@media screen and (max-width: 1650px) {
    .menu-lateral>span {
        opacity: 1;
        position: absolute;
        right: -80px;
        transition: 1s;
        z-index: 99;
        background: none;
        top: -65px;
    }

    .menu-lateral ul {
        left: -100%;
        position: fixed;
        transition: 1s;
    }

    .menu-lateral li {
        /*background: #007798;*/
    }

    .menu-lateral li span {
        /*background: #007798;*/
    }

    .menu-lateral>i {
        opacity: 0;
        position: absolute;
        transition: 0.5s;
        color: #4D81B0;
        font-size: 30px;
        cursor: pointer;
        margin-top: 2px;
        z-index: 100;
    }
}

@media screen and (max-width: 992px){
    .obj-cards{
        display: block;
        text-align: center;
    }
    .obj-cards .card-1, 
    .obj-cards .card-2{
        width: 100% !important;
        max-width: 280px;
        display: inline-block;
        margin: 10px;
    }

    .painel-espelhos {
        display: block;
        text-align: center;
    }    

    .painel-espelhos button {
        width: Calc(300px * .8);
        height:  Calc(200px * .8);
        display: inline-block;
    }
    .img-janela{
        width: 100%;
        max-width: 450px;
    }
}


@media screen and (max-width: 450px) {
    .menu-lateral {
        position: absolute;
    }

    .menu-lateral ul {
        margin-top: 15px;
        margin-left: -5px;
    }

    .menu-lateral>i {
        left: 310px !important;
        margin-top: 15px;
    }

    .menu-lateral>span {
        top: 10px;
    }
}