.fundo-tecnicos {
    padding: 0;
}
figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
h3 {
    color: #00b0b3;
}
.bloco-1 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;
}
.ilustra-intro {
    align-self: center;
}
.texto-intro {
    margin-top: 120px;
    max-width: 550px;
    margin-right: 75px;
}
.bloco-2 {
    background-color: #292929;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.infografico {
    border: 2px solid #00e2ed;
    border-radius: 30px;
    display: flex;
}
.infografico-nr {
    display: block;
    margin: 20px auto 0 auto;
}
.infografico .col-lg-3 {
    border-right: 2px solid #00e2ed;
    padding: 5px 15px;
    width: 25%;
    text-align: center;
    height: 100%;
}
.infografico .col-lg-3 p {
    line-height: 1.4em;
}
.infografico .col-lg-3:last-child {
    border-right: none;
}
.bloco-3 {
    background-color: #eaeff0;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.modais-container {
    display: flex;
}
.modais-container button {
    width: 501px;
    height: 338px;
    background-color: transparent;
    border: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
}
#btn-1 {
    background-image: url('../assets/03/bt01.png');
}
#btn-2 {
    background-image: url('../assets/03/bt02.png');
}
#btn-1:hover {
    background-image: url('../assets/03/bt01_hover.png');
}
#btn-2:hover {
    background-image: url('../assets/03/bt02_hover.png');
}
video {
    width: 70%;
    height: 380px;
    display: block;
    margin: 15px auto;
    background-color: #d9d9d9;
    border-radius: 25px;
}
.nav-tabs {
    margin-left: 0;
}

.btn-final {
    text-align: center;
    margin-top: 40px;
}
.btn-final p {
    margin: 0;
}
.btn-final .toTop {
    border: none;
    background-color: transparent;
    border-radius: 100px;
    padding: 0;
    transform: scale(1.1);
}
.btn-final .toTop:hover {
    transform: scale(1.2);
}
.modal-100 .modal-title .container {
    font-size: 26px;
    padding-top: 30px;
}
.modal-100 h4 {
    font-size: 22px;
    color: #333;
}
.modal-footer {
    max-width: 920px;
    margin: 15px auto 0 auto;
}


#booklet > header{
    margin-top: 50px;
    padding-right: 10vw;
    padding-top: 40px;
  
}

@keyframes sharingan {
    0%{
        background-image: url(../assets/03/olhos/olho-01.jpg);
    }
    18%{
        background-image: url(../assets/03/olhos/olho-02.jpg);
    }
    36%{
        background-image: url(../assets/03/olhos/olho-03.jpg);
    }
    52%{
        background-image: url(../assets/03/img-capa.png);
    }
    70%{
        background-image: url(../assets/03/olhos/olho-05.png);
    }
    90%{
        background-image: url(../assets/03/olhos/olho-06.jpg);
    }

    100%{
        background-image: url(../assets/03/olhos/olho-01.jpg);
    }
}


.anim-olhos{
    width: 100%;
    height: 100%;
    max-width: 600px;
    aspect-ratio: 4 / 3;

    background-size: ccontainover;
    background-repeat: no-repeat;
    background-position: center;
    animation: sharingan linear 15000ms infinite;
    background-color: white;

}

/*parallax loucos*/

.rellax img{
    max-width: 200px;
}

.el{
    position: absolute;
    z-index: 5;
}

.el.el-dir{
    right: 0;
}
.el.el-esq{
    left: 0;
}

.el.top{
    top: 10%;
}
.el.center{
    top: 50%;
}
.el.bottom{
    bottom: 10%;
}

@media (min-width: 1740px){
 .ilustra-intro {
    margin-right: -350px;
    margin-top: -150px;
 }   
}

@media (min-width: 940px) {   
    .ilustra-intro {
        width: 45%;
        max-width: 620px;
    }
}

@media screen and (max-width: 1440px){
    .rellax img{
        max-width: 150px;
    }

    .bloco-1 .texto-intro{
        margin-left: 180px;
    }
}

@media (max-width: 940px) {
    .rellax{
        display: none;
    }
    .bloco-1{
        flex-direction: column-reverse;
        height: auto;
        min-height: 100vh;
    }
    .ilustra-intro {width: 100%; margin-top: 30px;}
    .texto-intro {
        margin: 0px 15px;
    }
    .infografico .col-lg-3 {
        width: 100%;
        height: auto;
        padding: 25px;
        border: none;
    }
    .modais-container {
        flex-direction: column;
    }
    .modais-container button {
        width: 100%;
        
    }
}
@media (max-width: 480px) {
    iframe{width: 100%;}
}