body{
    background: url('../assets/08/background.png') no-repeat;
    background-attachment: fixed;
}
figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.img-01 {
    display: block;
    margin: 10px auto;
    border-radius: 15px;
    height: 300px;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}


.icone.nota{
    background-image: url(../assets/08/icone-nota.png);
}
/*
.carousel {
    border: 2px solid #50d7e2;
    border-radius: 20px;
}
.carousel .img-responsive {
    max-height: 300px;
}
.carousel .item {
    padding: 50px;
}
.carousel-inner {
    min-height: 903px;
}
.card-container {
    display: flex;
    justify-content: center;
}
*/
#carousel-conteudo-08{
    border-radius: 20px;
    background-color: #22B0B2;
}

#carousel-conteudo-08 .slide{
    margin: 0;   
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}
#carousel-conteudo-08 .slide p{
    line-height: 1.2;
}

#carousel-conteudo-08 .carousel-control{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

#carousel-conteudo-08 .carousel-indicators{
    position: relative;
    margin-bottom: 10px;
    top: initial;
    bottom: initial;
}

.card {
    border: 3px solid #50d7e2;
    width: 28%;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px #333;
    border-radius: 5px;
    text-align: center;
}



@media (max-width: 600px){
    .carousel-inner {
        min-height: unset;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 80%;
        
    }
}