@font-face {
    font-family: permanent-marker;
    src: url('../font/PermanentMarker-Regular.ttf');
}
html{scroll-behavior: smooth;}
p, li, td, figcaption{
    font-family: roboto;
    color: #000;
}
body{
    background: #28aeb1;
}
h2, h3, h4, h5{color: #000;}
h4{margin-bottom: 20px;}
header{
    margin-top: 100px;
    margin-bottom: 50px;
}
.bloco1{
    background: url('../img/bg1.svg') no-repeat center center;
    background-size: 100%;
    min-height: 100vh;
    width: 80%;
    margin: auto;
    padding: 140px 0;
    padding-top: 0;
    position: relative;
}
.titulo{
    max-width: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.bt-iniciar{
    background: url('../img/bt_iniciar.png') no-repeat;
    width: 181px;
    height: 76px;
    position: absolute;
    left: 0;
    right:0;
    bottom: 20vh;
    margin: auto;
    display: block;
    transition: all .4s;
}
.bt-iniciar:hover{background: url('../img/bt_iniciar_hv.png') no-repeat;}
.bloco-caderno{
    background: url('../img/bg.png') repeat-y;
    background-size: 100%;
    background-position-x: 30px;
    background-color: #50CDD8;
}
.bloco-caderno .container{
    /* background: url('../img/bg.png') repeat-y;
    background-size: 100%; */
    padding: 50px;
    padding-left: 230px;
    max-width: 1200px;
}
.caixa-destaque-livre{
    background: rgba(228,170,40,.5);
    border-radius: 0;
    margin: 50px auto;
}
.caixa-destaque-livre p{margin: 0;}
.painel1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.painel1 button{
    width: 374px;
    height: 86px;
    border: none;
    transition: all .4s;
}
.bt-convergentes{background: url('../img/bt_convergente.png') no-repeat center;}
.bt-divergentes{background: url('../img/bt_divergente.png') no-repeat center;}
.bt-convergentes:hover{background: url('../img/bt_convergente_hv.png') no-repeat;}
.bt-divergentes:hover{background: url('../img/bt_divergente_hv.png') no-repeat;}
p.fonte{
    font-family: permanent-marker;
    margin-top: 20px;
}
ul.marcador{padding-left: 0;}
ul.marcador li{
    background: url('../img/icon_ast.png') no-repeat left center;
    padding-left: 60px;
    min-height: 37px;
    list-style-image: none;
    list-style-type: none;
}
.icone-atencao{ 
    min-height: 80px;
}


@media screen and (max-width: 1400px){
    .bloco-caderno .container{
        /* background: url('../img/bg.png') repeat-y;
        background-size: 100%; */
        max-width: 900px;
    }
}
@media screen and (max-width: 980px){
    .bloco-caderno{
        background-size: 115%;
        background-position-x: -63px;
    }
    .bloco-caderno .container{padding-left: 145px;}
    .bloco1{
        background: none;
        width: 90%;
    }
}
@media screen and (max-width: 580px){
    .bloco-caderno{
        background-size: 122%;
    }
    .titulo{max-width: 98%;}
    .bloco-caderno .container{
        padding: 20px;
        padding-left: 70px;
    }
    .painel1 button, .bt-convergentes:hover, .bt-divergentes:hover{
        width: 100%;
        height: 43px;
        background-size: cover;
        background-position: center center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px){
    .bloco-caderno{
        background-size: 127%;
    }
}