@font-face {
    font-family: caveat;
    src: url("../fonts/caveat.ttf");
}
p, li, td, figcaption{
    font-family: roboto;
    color: #000;
}
body{
    background: 
    url('../img/bg_5.svg') no-repeat, 
    url('../img/bg_4.svg') no-repeat, 
    url('../img/bg_3.svg') no-repeat, 
    url('../img/bg_2.svg') no-repeat, 
    url('../img/bg_1.svg') no-repeat, 
    url('../img/bg.png') repeat;
    background-position:
    right 0 top 5500px,
    left 0 top 3300px,
    right 0 top 2000px, 
    left 20px top 1000px, 
    right -80px top 300px, 
    center;
    background-size: 
    360px 444px,
    286px 353px,
    151px 624px,
    351px 320px, 
    351px 320px, 
    auto;
}
.pagina{
    background-color: #ffe1a9;
    padding: 10px 20px;
    margin-top: 10px;
}
.icone-atencao {
    padding-left: 100px;
    background-position: 10px center;
    background-size: 54px 47px;
    background-image: url(../../01_avaliacao_integridade/img/aviso.png);
    background-repeat: no-repeat;
}
h2, h3, h4, h5{color: #000;}
.fundo-tecnicos{
    border: none;
    max-width: 1024px;
    background: none;
}
.destaque-lupa{
    background: url('../img/destaque_lupa.png') no-repeat;
    width: 543px;
    height: 518px;
    margin: 50px auto;
    padding: 105px 100px;
    padding-right: 200px;
}
.destaque-lupa p{
    font-family: caveat;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.carousel{margin-bottom: 80px;}
.carousel-control.left, .carousel-control.right{
    background-image: none;
    opacity: 1;
}
.carousel-control.right{
    background: url('../img/bt_infog_laudo.png') no-repeat;
    width: 64px;
    height: 64px;
    transition: all .4s;
    bottom: -60px;
    top: unset;
    right: -60px;
    left: 0;
    margin: 0 auto;
}
.carousel-control.right:hover{
    background: url('../img/bt_infog_laudo_hv.png') no-repeat;
}
.carousel-control.left{
    background: url('../img/bt2_infog_laudo.svg') no-repeat;
    width: 64px;
    height: 64px;
    transition: all .4s;
    bottom: -60px;
    top: unset;
    left: -60px;
    right: 0;
    margin: 0 auto;
}
.carousel-control.left:hover{
    background: url('../img/bt2_infog_laudo_hv.svg') no-repeat;
}
.marcadores, .marcadores2{
    padding-left: 0;
}
.marcadores li{
    background: url('../img/icon_pin.png') no-repeat;
    padding-left: 60px;
    margin-bottom: 20px;
    list-style-image: none;
    list-style-type: none;
}
.marcadores2 li{
    background: url('../img/icon_lupa.png') no-repeat;
    padding-left: 50px;
    margin-bottom: 20px;
    min-height: 37px;
    list-style-image: none;
    list-style-type: none;
}
.carousel2{
    background: url('../img/postit_abnt.png') no-repeat;
    width: 351px;
    height: 351px;
    margin: 50px auto;
    padding: 20px 30px;
    margin-bottom: 80px;
}
.carousel2 p{
    margin-bottom: 0;
    line-height: 20px;
}
.carousel2 .carousel-control.left{
    left: 25%;
    bottom: -70px;
}
.carousel2 .carousel-control.right{
    right: 25%;
    bottom: -70px;
}
@media screen and (max-width: 1440px){
    body{
        background: url('../img/bg.png') repeat;
        background-position: center;
        background-size: auto;
    }
}
@media only screen and (max-width: 820px) {
    .fundo-tecnicos{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .fundo-tecnicos{
        padding-left: 20px;
        padding-right: 20px;
    }
    .destaque-lupa{
        width: 380px;
        height: 362px;
        background-size: cover;
        margin: 50px auto;
        padding: 67px 62px;
        padding-right: 126px;
    }
    .destaque-lupa p{line-height: 27px;}
}